<%if line_item == @current_item %>
<tr id = "current_item">
<%else%>
<tr class = "cart_line_items">
<%end%>
<td> <%= line_item.quantity %> &times; </td>
<td> <%= line_item.product.title%> </td>
<td class = "item_price"> <%= number_to_currency(line_item.total_price)%> </td>
<td> <%= link_to 'Remove Item',remove_item_from_cart_cart_path(line_item.id),
                               :confirm => 'Are You Sure?', :remote => true%></td>
</tr>
